<div class="container">
	<h1>About Us</h1>
	<div class="row">
		<div class="col-md-8 about-text">
			<p>Getting that detail just right is crucial for any rider, but it’s even more crucial on bikes made to suit the demands of fast-developing bodies and easily distracted minds of children. Bike Seattle offers young riders the fair advantage.</p>

			<p>In a market that seems to offer an extensive choice of good looking bikes, it isn’t always obvious that many of them are compromised by poor fit, inappropriate parts and burdensome weight. Bike Seattle's extensive experience in riding, bike design and custom frame building has allowed her to produce a range of bikes that are simply perfect for the job. The bikes are built as light as is practically possible and everything is appropriately sized. In short, every single part of a Seattle Bike is designed or chosen to suit its rider. First impressions count, and young riders need as many advantages as they can get in their formative years. Children will never forget their Seattle Bike's.</p>

			<p>Seattle Bike’s obsessive attention to the practical detailing, ride-ability and durability of every bike reflects an unrivaled appreciation of each rider’s needs. Every Seattle Bike incorporates size-specific frame design and proportionally-sized components, including brakes that can be operated confidently with small hands. The gearing, crank lengths and components are all chosen to be ergonomically perfect for the size range the bike has been made for. This level of attention is unique in children’s bike design.</p>
		</div>	
		<div class="col-md-4">
      <%= image_tag("about_1.jpg", class: "img-thumbnail") %>
      <%= image_tag("about_2.jpg", class: "img-thumbnail") %>
    </div>
	</div>	
</div>	
