<section id="three-column-grid" class="content">
  <div class="container">
    <div class="row">

      <div class="col-md-4 text-center">
        <i class="column-icon"></i>
        <h3>Road Bikes</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum corporis libero repellendus, necessitatibus praesentium nulla!
        </p>
      </div>
      <div class="col-md-4 text-center">
        <i class="column-icon"></i>
        <h3>e-bikes</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum corporis libero repellendus, necessitatibus praesentium nulla!
        </p>
      </div>
      <div class="col-md-4 text-center">
        <i class="column-icon"></i>
        <h3>Mountain Bikes</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum corporis libero repellendus, necessitatibus praesentium nulla!
        </p>
      </div>
        
    </div><!--end row-->
  </div><!-- end container -->
</section>