<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "action-adventure-bicycle.jpg", class: "img-fluid" %>
        <div class="carousel-caption d-none d-md-block">
            <h1>Welcome to Bike Berlin</h1>
            <p>Your source for used bikes in Berlin</p>
        </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "active-adventure.jpg", class: "img-fluid" %>    
    </div>
    <div class="carousel-item">
      <%= image_tag "adventure-bicycle-bike.jpg", class: "img-fluid" %>     
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section id="three-column-grid" class="content">
  <div class="container">
    <div class="row">

      <div class="col-md-4 text-center">
        <i class="column-icon"></i>
        <h3>Road Bikes</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum corporis libero repellendus, necessitatibus praesentium nulla!
        </p>
      </div>
      <div class="col-md-4 text-center">
        <i class="column-icon"></i>
        <h3>e-bikes</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum corporis libero repellendus, necessitatibus praesentium nulla!
        </p>
      </div>
      <div class="col-md-4 text-center">
        <i class="column-icon"></i>
        <h3>Mountain Bikes</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum corporis libero repellendus, necessitatibus praesentium nulla!
        </p>
      </div>
        
    </div><!--end row-->
  </div><!-- end container -->
</section>