<div class="container">
	<h1>Orders</h1>  
  <div class="row">
    <% @orders.each do |order| %>
      <div class="col-lg-3">
        <h2>
          Order # <%= order.id %>:
          <%= link_to order.product.name, order %>
        </h2>
        <p><%= order.product.description %></p>
        <strong>$ <%= order.product.price %></strong>
      </div><!-- /col -->
    <% end %>
  </div>
</div>