<div class="index-content">
  <div class="panel panel-default">
  <div class="panel-body">
    <p id="notice">Thank you for your payment!<br> We have received it and will send out your orders soon.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
</div>