/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree
 *= require_self
 */

@import "bootstrap";

.navbar {
    border-radius: 0px;
    padding: 0;
}

.navbar-brand {
    padding: 10px 0px 10px 20px;
    font-size: 2em;
}

#carousel-images {
    padding: 10px 20px;
    margin-bottom: 40px;
}
.carousel-caption {
    color: #000;
    font-size: 2em;
}

.carousel-indicators {
    padding-bottom: 30px;
    width: 70%;
}

.carousel-indicators li {
    width: 80px;
    border: 2px solid #000;
    height: 12px;
    margin: 0px;
    padding-right: 2px;
}

.carousel-indicators .active {
    width: 80px;
    background-color: #ffd101;
} 

.carousel-control-next-icon {
    background: #212529;
}

.carousel-control-prev-icon {
    background: #212529;
}