/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree
 *= require_self
 *= require jquery.raty
 */

@import "bootstrap";


//Nav

.navbar {
    border-radius: 0px;
    padding: 0;
}

.navbar-brand {
    padding: 10px 0px 10px 20px;
    font-size: 2em;
    text-transform: uppercase;
}

.navbar-nav {
  padding-right: 20px;
}

.nav-item {
  padding: 10px;      
}

nav a {
  color: #FFF;
}
  a:hover {
  color: #6f6f6f;
  text-decoration: none;      
}

.search_form {
    color: #000;
}
//CAROUSEL

.carousel-caption {
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
}

.carousel-inner {
	margin-bottom: 30vh;
}

.carousel-item img {
	display: block;
	margin: 0 auto;
	width: 80%;
}

.carousel-caption {
    color: #000;
    font-size: 2em;
}

.carousel-indicators {
    width: 70%;
}

.carousel-indicators li {
    width: 80px;
    border: 2px solid #000;
    height: 12px;
    margin: 0px;
    padding-right: 2px;
}

.carousel-indicators .active {
    width: 80px;
    background-color: #ffd101;
} 

.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-color: #443e66;
	opacity: 0.5;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
	background-color: #443e66;
	opacity: 1;
}


//Footer

.site-footer {
  text-align: center;
  padding: 10px 0;
  background: #818181;
  bottom: 0;
  width: 100%;    
}