// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit {
    color: #000;
}

#product_frame {
  border: solid 1px #000;
  border-radius: 5px;
  margin: 20px;
	padding: 20px;
}

.pagination  {
	justify-content: center;

	& > * {
		padding: 1vw 0.5vw;
	}
}

