// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// General styles

h1 {
  text-transform: uppercase;
  text-align: center;
}

h2, h3, h4 {
    text-align: center;
}

section {
    padding: 30px 50px;
}

.header {
    padding-bottom: 25px;
}
.content {
  padding-top: 70px;
  padding-bottom: 50px;
}


//About

.about-header {
    line-height: 2.0em;
}

.about-paragraph {
    line-height: 2.0em;
}


//Contact

//.contact-fields {
//    text-align: center;
//}

.contact-form form {
	margin: 0 auto;
	text-align: center;
	width: 60%;

	& * {
		margin: 1vh auto;
		text-align: center;
		width: 70%;
	}

	.form_label {
		margin: 8vh 0;
	}
}
