// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// General styles
* {
  margin: 0
}

h1 {
  text-transform: uppercase;
}

.content {
  padding-top: 70px;
  padding-bottom: 50px;
}

section {
  text-align: center;
}

//Nav

.navbar-brand {
  text-transform: uppercase;
  padding-left: 10px;
}

.navbar-nav {
  padding-right: 20px;
}

.nav-item {
  padding: 10px;      
}

nav a {
  color: white;
}
  a:hover {
  color: grey;
  text-decoration: none;      
}

//Footer

.site-footer {
  text-align: center;
  padding: 10px 0;
  background: darkgray;
    
}