<p id="notice"><%= notice %></p>

<h1 class="header">Products</h1>    

<div class="container-fluid">
<% cache(cache_key_for_products) do %>
    <div class="row">
      <%= render @products %>
    </div>
  <% end %>    
</div>

<br>

<%= link_to 'New Product', new_product_path %>
