<p id="notice"><%= notice %></p>   

<div class="container-fluid">
	<h1 class="header">Products</h1> 	
		<% cache(cache_key_for_products) do %>
			<div class="row">
				<%= render @products %>
			</div>
		<% end %>   

		<br>
		<% if current_user && current_user.admin %>
			<%= link_to 'New Product', new_product_path, class: "btn btn-success btn-sm" %>
		<% end %>
</div>

